#index_header{
    display:flex;
    justify-content: flex-end;
    width: calc(100% - 500px);
    height: 55px;
    background: #fff;
    position: fixed;
    top: 0;
    border: 1px solid #eef2f8;
    color: #88909a;
    z-index: 20;
    transition: transform .25s ease-in-out;
    -webkit-transition: -webkit-transform .25s ease-in-out;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000
}
#index_header_link {
    text-align: center;
    font-size: 1.6rem;
    line-height: 55px;
    margin: 0;
    transition: transform .25s ease-in-out;
    -webkit-transition: -webkit-transform .25s ease-in-out
}
.header-title{
    width: 100%/2;
}
#header_link {
    text-align: right;
    font-size: 1.6rem;
    line-height: 55px;
    margin: 0;
    transition: transform .25s ease-in-out;
    -webkit-transition: -webkit-transform .25s ease-in-out;
}
#header_link.myLinkStyle a{
    padding: 10px;
    color:#4a4a4a;
    font-weight:bold ;
}
@media only screen and (min-width :1280px) {
    #index_header {
        width: calc(100% - 500px);
    }
}
@media only screen and (min-width :1024px) and (max-width :1279px) {
    #index_header {
        width: calc(100% - 250px);
    }

}
@media only screen and (min-width :768px) and (max-width :1023px) {
    #index_header {
        width: calc(100% - 75px);
    }
}
@media only screen and (max-width :767px) {
    #index_header {
        display: none;
    }
}
@media only screen and (max-width :500px) {
    #index_header {
        display: none;
    }
    .myLinkStyle{
        display: none;
    }
}
@media only screen and (min-width :501px) {
    #header_link_menu{
        display: none;
    }
    #sidebar_close{
        display: none;
    }
}
#index_header.header-up-1{
    -webkit-transform: translate3d(0, -55px, 0);
    -moz-transform: translate3d(0, -55px, 0);
    transform: translate3d(0, -55px, 0)
}
#index_header_link.myLinkStyle a{
    padding: 15px;
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
    color:#4a4a4a;
    font-weight:bold ;
}
.index_heading{
    font-size:4rem;
}

.main-content-wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#header_link_menu{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer
}
#header_link_aside{
    display: flex;-webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding: 50px 10px;
    width: min(75vw, 400px);
    height: 100vh;
    outline: 0px;
    background-color: antiquewhite;
    box-shadow: -10px 0px 30px -15px var(--navy-shadow);
    z-index: 9;
    transition: transform .25s ease-in-out;
    -webkit-transform: translate3d(100vw, 0, 0);
    -moz-transform: translate3d(100vw, 0, 0);
    transform: translate3d(100vw,0,0);
}
#header_link_aside.asideShowUp{
    -webkit-transform: translate3d(0vw, 0, 0);
    -moz-transform: translate3d(0vw, 0, 0);
    transform: translate3d(0vw, 0, 0);
}
#header_link_aside_nav{
    display: flex;
    position: absolute;
    top: 50px;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    color: var(--lightest-slate);
    font-family: var(--font-mono);
    text-align: center;
}
#header_link_aside_nav a{
    padding: 15px;
    font-size: larger;
    color:#4a4a4a;
    font-weight:bold ;  
}
#header_link_menu_close{
    padding: 15px;
    position:absolute;
    right:1vw;
    top: 1vh;
}
#sidebar_close{
    padding: 10px;
    height: 10vh;
}
#sidebar_close_icon{
    display: block;
    position: absolute;
    top: 5px;
    left: 10px;
    cursor: pointer;
    padding: 10px;
    color: white;
}
#skill::before{
    left: 0px;
    color: black;
    font-size: var(--fz-sm);
    line-height: 12px;
}
.jobs_button {
    align-items: center;
    display: flex;
    background-color: #fff;
    color: #cec5b1;
    border: none;
    font-size: large;
    padding: 30px;
    width: 100%;
    height: 20%;    
}
#jobs_selector{
    display: block;
    position: relative;
    z-index: 3;
    width: max-content;
    height: inherit;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
#jobs_content{
    position: relative;
    width: 100%;
    border: 1px solid #61687238;

}
.index_section_content{
    padding-bottom: 15%;
}
.jobs_button:hover{
    color: rgb(59, 133, 133);
    text-decoration-line: underline;
    font-style:italic;
    background-color: #f2f2f2;
    cursor: pointer;
}
.jobsBtn_selected{
    color: rgb(59, 133, 133);
    text-decoration-line: underline;
    font-style:italic;
    background-color: #f2f2f2;
}
#_experience_content{
    display: flex;
}
.jobs_content_panel{
    display: none;
}
.jobsContent_selected{
    display: block;
    padding-left: 10px;
}
.projects_display{
    display:inline-block;
    position: relative;
    border: 1px solid #383c4236;
    width: 300px;
    height: 250px;
}
#project01{
    background-image: url(/images/project_01_03.jpg);
    background-size: cover;
}
#project02{
    background-image: url(/images/project_02_01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#project03{
    background-image: url(/images/project_03_01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#project04{
    background-image: url(/images/project_04_01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.project_intro{
    background-color: rgb(219, 218, 200);
    opacity:0;
    position: absolute;
    height:50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transform: translate3d(0,-10px,0);
    z-index: 2;
}
.project_detail{
    background-color: rgb(219, 218, 200);
    opacity:0;
    position: absolute;
    top:50%;
    height:50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transform: translate3d(0,10px,0);
    z-index: 2;
}
.projects_display:hover{
    background-image: none;
}
.projects_display:hover .project_intro{
    transform: translate3d(0,0,0);
    opacity:0.95;
}
.projects_display:hover .project_detail{
    transform: translate3d(0,0,0);
    opacity:0.95;
}
.project_lang{
    align-self: center;
    display: flex;
    font-size:15px;
    font-weight: bold;
}
.project_title{
    align-self: center;
    display: flex;
    margin: 10px;
}
.project_detail_button{
    align-self: center;
    display: flex;
    font-size: larger;
    font-weight: bold;
    border: 2px solid #4a4a4a;
    padding: 5px;
}
.project_detail_button:hover{
    background-color: #4a4a4a;
    color: #f2f2f2;
}
.project_showup{
    display: flex;
    position: fixed;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}
.project_mask{
    height: 100%;
    width: 100%;
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}
.project_showup.visible{
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.project_showup.invisible{
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s 0.2s, opacity 0.2s linear;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
}
.project_detail_showup{
    position: relative;
    opacity: 1;
    width: 600px;
    height: 600px;
    background-color: white;
    -webkit-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}
.project_detail_showup.visible{
    transform: scale(1);
}
.project_detail_showup.invisible{
    transform: scale(0.8);
}
.project_close{
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #bbb;
    cursor: pointer; 
}
.window{
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.window .prevImg{
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: #ebebeb;
    background-color: #767171;
    font-size: x-large;
    padding: 10px;
    cursor: pointer; 
}
.window .nextImg{
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #ebebeb;
    background-color: #767171;
    font-size: x-large;
    padding: 10px;
    cursor: pointer; 
}
.prevImg.invisible{
    display: none;
}
.nextImg.invisible{
    display: none;
}
.panel{
    border-bottom: 1px solid #383c4236;
    width: 1800px;
    height: 300px;
    display: flex;
    left: -600px;
    transform: translateX(0px);
    position: relative;
}
.transition{
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
}
.slide{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.project01_img_01{
    background-image: url(/images/project_01_01.jpg);
}
.project01_img_02{
    background-image: url(/images/project_01_02.jpg);
}
.project01_img_03{
    background-image: url(/images/project_01_03.jpg);
}
.project02_img_01{
    background-image: url(/images/project_02_01.jpg);
}
.project02_img_02{
    background-image: url(/images/project_02_02.jpg);
}
.project02_img_03{
    background-image: url(/images/project_02_03.jpg);
}
.project03_img_02{
    background-image: url(/images/project_03_01.jpg);
}
.project04_img_02{
    background-image: url(/images/project_04_01.jpg);
}
.project_describe{
    padding: 30px 0px 15px 15px;
}
.project_detail_title{
    margin: 0pt;
    width: 80%;
    padding-bottom: 18px;
    font-size: 22pt;
    line-height: 30pt;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.project_detail_info{
    width: 80%;
    font-size: 13pt;
    line-height: 20pt;
}
.project_describe_panel{
    display: none;
}
.project_describe_panel.visible{
    display: block;
}